:root {
    --cell-size: 40px;
    --font-family: "Roboto", sans-serif;
    --transition-time: 0.1s;
}

body {
    font-family: var(--font-family);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

/* ===== Title ============================================================== */

/* ===== Buttons ============================================================ */

/* ===== Board ============================================================== */

.board {
    display: grid;
    grid-template-columns: repeat(21, var(--cell-size));
    row-gap: 0px;
    column-gap: 0px;

    border: 2px solid black;
}

.board > input.cell,
.board > .numbercell > input.cell {
    width: calc(var(--cell-size) - 2px);
    height: calc(var(--cell-size) - 2px);

    border-radius: 0px;
    border: 1px solid lightgray;

    margin: 0px;
    padding: 0px;

    text-align: center;
    font-family: var(--font-family);
    font-size: 1.5em;
    font-weight: bold;

    transition: var(--transition-time) linear;
}

.board > input.correct,
.board > .numbercell > input.correct {
    transition: var(--transition-time) linear;
    background-color: lightgreen;
}

.board > input.incorrect,
.board > .numbercell > input.incorrect {
    transition: var(--transition-time) linear;
    background-color: lightcoral;
}

.board > input.cell:focus,
.board > .numbercell > input.cell:focus {
    outline: none;
    background-color: lightcyan;
}

.board > input.black {
    background-color: black;
    pointer-events: none;
    border: 1px solid black;
}

.board > .numbercell {
    position: relative;
}

.board > .numbercell > label {
    position: absolute;
    top: 0.1em;
    left: 0.2em;

    font-family: var(--font-family);
    font-size: 0.8em;
    color: gray;
}

/* ===== Clues ============================================================== */
